
body{
    
    
    margin:0;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: Arial;
                 
    background-image: url("k.png");
    background-repeat: no-repeat;   /* repeat aagama */
    background-position: right;    /* center la varum */
    background-size: auto;  
        
 
}body

.content {
    text-align: center;
    background: rgb(255, 192, 245);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
}

h1 {
    color: red ;
    font-size: 50px;
}

p {
    color: blue;
    font-size: 30px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    background-color: #ff1a4d;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #cc0033;
    transform: scale(1.1);
}
